---
import AboutMe from '@/components/AboutMe.astro'
import alexLogo from '@/assets/img/alex.webp?url'
import Experience from '@/components/Experience.astro'
import GitHubIcon from '@/assets/icons/GitHub.astro'
import Layout from '@/layouts/Layout.astro'
import LinkedInIcon from '@/assets/icons/LinkedIn.astro'
import MailIcon from '@/assets/icons/Mail.astro'
import Projects from '@/components/Projects.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import Social from '@/components/Social.astro'
import Title from '@/components/Title.astro'
---

<Layout
  title='Alex Portfolio - Web Developer and Programmer'
  description='Hire Alex to create your web application. Web Developer. Specialized in creating fullstack applications.'>
  <main class='px-4'>
    <SectionContainer class='pt-12 pb-8'>
      <div class='flex gap-x-4 mb-4'>
        <img
          width='90'
          height='90'
          class='rounded-full size-16 md:size-20 lg:size-24'
          src={alexLogo}
          alt='Portfolio Logo'
        />
        <h1
          class='text-white text-3xl md:text-4xl lg:text-5xl font-bold content-center'>
          Hi, Im Alex
        </h1>
      </div>

      <h3
        class='text-lg md:text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]'>
        Frontend developer with experience building web applications with React
        and TypeScript, always aiming to deliver high quality code that is
        readable, maintainable and scalable. If you think we could work
        together, please don't hesitate to reach out.
      </h3>

      <nav class='flex gap-x-3 mt-3'>
        <Social href='https://www.linkedin.com/in/pintodiaz/'>
          <LinkedInIcon class='size-6' />
          LinkedIn
        </Social>
        <Social href='https://github.com/alexpintodiaz'>
          <GitHubIcon class='size-6' />
          GitHub
        </Social>
        <Social href='mailto:alexanderpintodiaz@gmail.com'>
          <MailIcon class='size-6' />
          Contact me
        </Social>
      </nav>
    </SectionContainer>

    <SectionContainer id='experience'>
      <Title>Experience</Title>
      <Experience />
    </SectionContainer>

    <SectionContainer id='projects'>
      <Title>Projects</Title>
      <Projects />
    </SectionContainer>

    <SectionContainer id='about'>
      <Title>About me</Title>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
