---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <section class='w-full lg:w-[740px] mx-auto py-44'>
      <h1
        class='text-white text-5xl font-bold flex flex-row gap-x-4 pb-10'
      >
        Hi, Im Alex
      </h1>
      <h2 class="text-xl opacity-80">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo minus nulla
        est quasi non, dignissimos, consequuntur eaque reiciendis soluta aliquid
        praesentium fugit nobis sit. At architecto quis quas adipisci illum.
      </h2>

      <ul></ul>
    </section>
  </main>
</Layout>
