---
import alexLogo from '../assets/img/alex.png?url'
import Experience from '../components/Experience.astro'
import GitHubIcon from '../assets/icons/GitHub.astro'
import Layout from '../layouts/Layout.astro'
import LinkedInIcon from '../assets/icons/LinkedIn.astro'
import MailIcon from '../assets/icons/Mail.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Social from '../components/Social.astro'
---

<Layout
  title='Alex Portfolio - Web Developer and Programmer'
  description='Hire Alex to create your web application. Web Developer. Specialized in creating fullstack applications.'>
  <main>
    <SectionContainer>
      <img
        class='rounded-full size-12 mb-4'
        src={alexLogo}
        alt='Portfolio Logo'
      />
      <h1 class='text-white text-5xl font-bold flex flex-row gap-x-4 pb-6'>
        Hi, Im Alex
      </h1>
      <h2 class='text-2xl opacity-80 text-wrap'>
        Frontend developer with experience building web applications with React
        and TypeScript, always aiming to deliver high quality code that is
        readable, maintainable and scalable. If you think we could work
        together, please don't hesitate to reach out.
      </h2>

      <nav class='flex gap-x-3 mt-3'>
        <Social href='https://www.linkedin.com/in/pintodiaz/'>
          <LinkedInIcon class='size-6' />
          LinkedIn
        </Social>
        <Social href='https://github.com/alexpintodiaz'>
          <GitHubIcon class='size-6' />
          GitHub
        </Social>
        <Social href='mailto:alexanderpintodiaz@gmail.com'>
          <MailIcon class='size-6' />
          Contact me
        </Social>
      </nav>
    </SectionContainer>

    <SectionContainer>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
