---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <section class='w-full lg:w-[740px] mx-auto py-44'>
      <h1 class='text-white text-5xl font-bold flex flex-row gap-x-4 pb-10'>
        Hi, Im Alex
      </h1>
      <p class='opacity-80'>
        Frontend developer with experience building web applications with React
        and TypeScript, always aiming to deliver high quality code that is
        readable, maintainable and scalable. In addition to my technical skills,
        I am a strong team player with excellent communication skills. I
        collaborate effectively with my colleagues to solve challenges and
        deliver successful projects. I am passionate about staying up-to-date
        with the latest technologies and constantly improving my skills. I
        believe that technology has the power to make a positive impact on
        people's lives, and I am always seeking new opportunities to use my
        skills and experience to make a difference in the industry. If you think
        we could work together, please don't hesitate to reach out.
      </p>

      <ul></ul>
    </section>
  </main>
</Layout>
