---
import Layout from '../layouts/Layout.astro';
import alexLogo from '../assets/img/alex.png?url';
import LinkedInIcon from '../assets/icons/LinkedIn.astro';
import Social from '../components/Social.astro';
import GitHubIcon from '../assets/icons/GitHub.astro';
---

<Layout title='Alex Portfolio'>
  <main>
    <section class='w-full lg:w-[740px] mx-auto py-10'>
      <img
        class='rounded-full w-12 h-12 mb-4'
        src={alexLogo}
        alt='Portfolio Logo'
      />
      <h1 class='text-white text-5xl font-bold flex flex-row gap-x-4 pb-6'>
        Hi, Im Alex
      </h1>
      <h2 class='text-2xl opacity-80 text-wrap'>
        Frontend developer with experience building web applications with React
        and TypeScript, always aiming to deliver high quality code that is
        readable, maintainable and scalable. If you think we could work
        together, please don't hesitate to reach out.
      </h2>

      <nav class='flex gap-x-3 mt-3'>
        <Social href='https://www.linkedin.com/in/pintodiaz/'>
          <LinkedInIcon class='w-6 h-6' />
          LinkedIn
        </Social>
        <Social href='https://github.com/alexpintodiaz'>
          <GitHubIcon class='w-6 h-6' />
          GitHub
        </Social>
      </nav>
    </section>
  </main>
</Layout>
