---
import aboutImg from '@/assets/img/abtme.webp?url'
---

<!-- <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty"
  > -->
<article class='flex flex-col md:flex-row gap-8 justify-center items-center'>
  <div class='text-wrap order-2 md:order-1'>
    <p>
      Hello! My name is Alexander Pinto, and I'm a passionate Software
      Developer. I began my journey in software development with frontend
      technologies, diving into the world of <strong>JavaScript</strong>. As I
      gained experience, I transitioned to using <strong>React</strong> with <strong
        >TypeScript</strong
      >, which opened up new possibilities for me.
    </p>

    <br />

    <p>
      Over time, I expanded my skillset to become a <strong
        >full-stack developer</strong
      >, currently utilizing a stack that includes React and TypeScript on the
      frontend, along with <strong>Python</strong> and <strong>FastAPI</strong> on
      the backend. I am well-versed in managing both SQL databases with MySQL and
      NoSQL databases with MongoDB. I graduated from <strong
        >MisiónTic 2022</strong
      > and I'm currently pursuing a <strong
        >Technology in Software Analysis and Development</strong
      > degree.
    </p>

    <br />

    <p>
      Beyond coding, I'm fascinated by all things related to computing and
      systems. A lifelong gamer since the '90s. In my free time, I enjoy reading
      books and manga, playing sports, and spending quality time with my family
      and friends.
    </p>
  </div>
  <!-- <img src={aboutImg} alt="A picture of me with my dog Akamaru" class='rounded-3xl size-64 order-1 md:order-2' /> -->
</article>
