---
import BriefcaseIcon from '@/assets/icons/Briefcase.astro'

interface Props {
  role: string
  company: string
  date: string
  description: string
}

const { role, company, date, description } = Astro.props
---

<div class='relative'>
  <span
    class='absolute inline-tableflex items-center justify-center size-6 bg-white5 rounded-full -start-3 ring-8 ring-white/5 dark:ring-gray-900 dark:bg-blue-900'>
    <BriefcaseIcon class='size-6' />
  </span>
  <span class='absolute left-0 top-9 w-0.5 bg-neutral-100 h-24'></span>
</div>

<div class='pl-8'>
  <h3
    class='flex items-center mb-1 text-lg font-semibold text-neutral-200 dark:text-white'>
    {role}
    <span
      class='bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3'
      >Latest</span
    >
  </h3>
  <div class='flex flex-row items-center gap-x-3 mb-2'>
    <h4>
      {company}
    </h4>
    -
    <time class='text-sm font-normal text-gray-400 dark:text-gray-500'
      >{date}</time
    >
  </div>

  <p class='mb-4 text-base font-normal text-gray-200 text-pretty'>
    {description}
  </p>
</div>
