---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    role: 'Full Stack Developer',
    company: 'Citec Solutions',
    date: 'October 2023 - Present',
    description:
      'lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
  },
  {
    role: 'Frontend Developer',
    company: 'Citec Solutions',
    date: 'May 2022 - October 2023',
    description:
      'lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
  },
]
---

<ol class='border-gray-200 mt-8'>
  {
    EXPERIENCE.map((experience) => (
      <li class='mb-10'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
