---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    role: 'Full Stack Developer',
    company: 'Citec Solutions',
    date: 'October 2023 - Present',
    description:
      'Improve of data shown through app using charts libraries. Develop and implement various APIs, focusing on the creation and configuration of endpoints. Facilitate the execution of database queries, which are essential for data extraction and manupulation as needed. Write, debug and review code to perform certain tasks and/or incorporate new features.',
    isCurrent: true,
  },
  {
    role: 'Frontend Developer',
    company: 'Citec Solutions',
    date: 'May 2022 - October 2023',
    description:
      'Developed a web application using React and Typescript. Creation of Figma-based components, styled with CSS and Tailwind. Use of Jest and React Testing Library for unit testing.',
  },
]
---

<ol class='mt-8'>
  {
    EXPERIENCE.map((experience) => (
      <li class='mb-10'>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
