<header
  class='flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto'>
  <nav class='flex flex-row gap-x-10 opacity-80'>
    <a
      href='#experience'
      class='hover:bg-white/10 rounded-full px-1 sm:px-2.5 transition text-sm sm:text-base'
      >Experience</a
    >
    <a
      href='#projects'
      class='hover:bg-white/10 rounded-full px-1 sm:px-2.5 transition text-sm sm:text-base'
      >Projects</a
    >
    <a
      href='#about'
      class='hover:bg-white/10 rounded-full px-1 sm:px-2.5 transition text-sm sm:text-base'
      >About</a
    >
  </nav>
</header>
